.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;

  margin: 10px auto;
  padding: 10px;

  border: 2px solid #ccc;
  border-radius: 2px;

  overflow: hidden;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 100px;
}

.Input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  display: flex;
  align-self: center;
}
